@model WebEAD.Areas.EAD.Models.ProfilePasswordMetadado

@{
    ViewBag.Title = "Area do Aluno";
    Layout = "~/Areas/EAD/Views/Shared/_LayoutPerfil.cshtml";
    <script type="text/javascript">
        var csenhaV = "", senhaV = "";
        $(function () {
        $('#p_eus_senha').keyup(function () {
            $('#senhaV').html(passwordStrength($('#p_eus_senha').val(), ""))
            result = $('#senhaV').html();
            if (result == "Muito Curta") {
                $('.progress').progress({
                    percent: 25
                });
                $('#senhaV').attr({ 'style': 'color:Red;' });
            }
            if (result == "Ruim") {
                $('.progress').progress({
                    percent: 45
                });
                $('#senhaV').attr({ 'style': 'color:Olive;' });
            }
            if (result == "Boa") {
                $('.progress').progress({
                    percent: 70
                });
                $('#senhaV').attr({ 'style': 'color:Lime;' });
            }
            if (result == "Forte") {
                $('.progress').progress({
                    percent: 100
                });
                $('#senhaV').attr({ 'style': 'color:Green;' });
            }
            if (result == "Informe a Senha") {
                $('.progress').progress({
                    percent: 1
                });
            }
        });
        $('#confirm_eus_senha').focusout(function () {
            csenhaV = $('#confirm_eus_senha').val();
            senhaV = $('#p_eus_senha').val();
            if (csenhaV != senhaV) {
                $('#senhaV').html("As senhas não conferem.");
                $('#senhaV').attr({ 'style': 'color:Red;' });
                $('#submitF').prop('disabled', true);
            }
            else {
                if (csenhaV != "" && senhaV != "") {
                    $('#senhaV').html("As senhas conferem");
                    $('#senhaV').attr({ 'style': 'color:Green;' });
                }
                $('#submitF').prop('disabled', false);
            }
        });
    });

    function ValidateForm() {
            if (result == "Boa" || result == "Forte") {
                return true;
            }
            else {
                if (csenhaV != "" && senhaV != "") {
                    toastr.error("A senha é muito fraca, insira uma senha forte.", "Mensagem do Sistema");
                }
                return false;
            }
    }
    </script>
}

<div class="ui grid specialDP">
    <div class="sixteen wide blue text column centered">
        <h1 class="">Alterar Senha</h1>
    </div>
</div>
<div class="ui grid">
    <div class="ten wide column centered">
        <div class="ui grid">
            <div class="six wide column centered">
                <div class="content">
                    @using (Html.BeginForm("AlterPassword", "StudentArea", FormMethod.Post, new { @class = "ui large fluid form" }))
            {
                        @Html.AntiForgeryToken() // previne o ataque CSRF
                                                @Html.ValidationSummary(true)
                                                <input type="hidden" name="p_eus_login" id="p_eus_login" value="@ViewBag.login" />
                                                <div class="field">
                                                    <div class="ui input">
                                                        @Html.PasswordFor(p => p.p_eus_senha, new { placeholder = "Senha" })
                                                    </div>
                                                    <div class="ui teal basic label">
                                                        @Html.ValidationMessageFor(p => p.p_eus_senha)
                                                    </div>
                                                </div>
                                                <div class="field">
                                                    <div class="ui input">
                                                        @Html.PasswordFor(p => p.confirm_eus_senha, new { placeholder = "Confirma Senha" })
                                                    </div>
                                                    <div class="ui teal basic label">
                                                        @Html.ValidationMessageFor(p => p.confirm_eus_senha)
                                                    </div>
                                                </div>
                                                <input type="submit" class="ui small teal submit button" id="submitF" onclick="javascript:return ValidateForm();" value="Alterar" />
                                                <a id="voltar" class="ui black deny small button" href="@Url.Action("Index","StudentArea")">
                                                    Voltar
                                                </a>
                    }
                </div>
            </div>
            <div class="ten wide column centered">
                <h3 class="ui teal header">Força da Senha: <span id="senhaV"></span></h3>
                <div class="ui grid">
                    <div class="six wide column">
                        <div class="ui indicating progress">
                            <div class="bar"></div>
                        </div>
                    </div>
                </div>
                <h3 class="ui teal header">Regras de validação:</h3>
                <h4>
                    • A senha deve conter 6 caracteres ou mais. <br />
                    • Utilize letras Maiúsculas, Minúsculas, Números e Caracteres Especiais. <br />
                    • O botão será desabilitado caso a confirmação esteja diferente da senha. <br />
                    • Para habilitar o botão informe a confirmação igual a senha, e clique no botão. Assim ele será habilitado.<br />
                    • Acima há um medidor de força de senha, ele dirá se a senha está forte ou fraca.
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="ui grid">
    <div class="four wide column centered">

    </div>
</div>
<script type="text/javascript">
    $(function () {

        var systemMessage = @Html.Raw(TempData[WebEAD.Controllers.MasterController.SystemMessage]);

        showMessage(systemMessage);
    });


    function showMessage(message) {
        toastr[message.type](message.content, message.title);
    }
</script>