@{
    ViewBag.Title = "Material Didático";
    <script type="text/javascript">
        var selecionado, selecionadoFiltro, check;
        $(function () {
            $('#btnFiltro').click(function () {
                var status, disciplina;

                if ($('#ftpc_st_idF').is(":checked")) {
                    check = $('#ftpc_st_idF').val();
                }
                else {
                    check = null;
                }
                var selecionadoFinal;
                if (selecionadoFiltro == null || selecionadoFiltro == "") {
                    selecionadoFinal = "0";
                }
                else { selecionadoFinal = "1"; }
                if (check == null && selecionadoFinal == "0") {
                    toastr.error("Selecione um item para realizar o filtro!", "Mensagem do Sistema");
                }
                else {

                    if (check == "on") {
                        status = 2;
                    } else { status = 0; }
                    if (selecionadoFiltro != null) {
                        disciplina = selecionadoFiltro
                    } else { disciplina = 0; }
                    $.ajax({
                        url: '@Url.Action("GridDidacticFilter", "Content")',
                        dataType: 'html',
                        data: { disciplina: disciplina, status: status },
                        traditional: true,
                        type: 'POST',
                        success: function (content) {
                            $("#filtroForum").html('');
                            $("#filtroForum").html(content);
                            toastr.success("Filtro executado com sucesso!", "Mensagem do Sistema");
                        }
                    });
                };
            });

            $("#btnremoveFiltro").click(function () {
                reloadGrid();
                $('#ftpc_dp_idF option[value=""]').prop('selected', true);
                $("#ftpc_st_idF").prop("checked", false);
                selecionadoFiltro = "";
                check = "off";
            });
        });

        function reloadGrid() {
            $.ajax({
                url: '@Url.Action("GridDidactic", "Content")',
                dataType: 'html',
                data: {},
                traditional: true,
                type: 'POST',
                success: function (content) {
                    $("#filtroForum").html('');
                    $("#filtroForum").html(content);
                }
            });
        };
    </script>
}
<div class="ui grid specialIDP">
    <div class="sixteen wide blue text column centered">
        <h1 class="">Material Didático</h1>
    </div>
</div>

<div class="ui grid centered">
    <div class="three wide column">
        <a class="ui labeled blue icon button" href="@Url.Action("CreateDidacticContent", "Content")" id="ADDMaterial">
            <i class="add square icon"></i>
            Novo Conteudo
        </a>
    </div>
    <div class="four wide column"></div>
    <div class="eight wide column">
        <div class="ui grid">
            <div class="one wide text middle column">
                Filtro:
            </div>
            <div class="seven wide column">
                @Html.Action("SubjectDropdownListFilter", "Content")
            </div>
            <div class="four wide column">
                <div class="ui checkbox">
                    <input type="checkbox" name="ftpc_st_idF" id="ftpc_st_idF">
                    <label>Desativado?</label>
                </div>
            </div>
            <div class="one wide column">
                <a id="btnFiltro" class="ui blue right icon button" title="Filtrar">
                    <i class="filter icon"></i>
                </a>
            </div>
            <div class="one wide column">
                <a id="btnremoveFiltro" class="ui blue right icon button" title="Remove Filtro">
                    <i class="refresh icon"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="ui grid centered">
    <div class="fifteen wide column filtroForum" id="filtroForum">
        @Html.Action("GridDidactic")
    </div>
</div>

<div class="ui grid"></div>

<script type="text/javascript">
    function getval(sel) {
        selecionado = sel.value;
    };

    function getvalFiltro(sel) {
        selecionadoFiltro = sel.value;
    };

    function showMessage(message) {
        toastr[message.type](message.content, message.title);
    };
</script>