<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/eadcss")
    @Styles.Render("~/Content/toastr")
    @RenderSection("head", required: false)
    @Scripts.Render("~/bundles/modernizr")
    <!--Document viewer control stylesheets -->
    <link href="~/Content/documentviewer.min.css" rel="stylesheet" />
    <link href="~/Content/default.theme.css" rel="stylesheet" /> 
    <title>@ViewBag.Title - EAD Niza</title>

</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/semanticjs")
    @Scripts.Render("~/bundles/ckeditor")
    <script src=@Url.Content("~/Scripts/ckeditor/adapters/jquery.js")></script>   
    
    <div class="ui inverted top attached blue menu">
        <a class="item">
            <i class="sidebar icon"></i>
            Menu Principal
        </a>
    </div>
    <div class="ui grid">
        <div class="sixteen wide column">
            <div class="ui left demo vertical inverted labeled sidebar blue menu">
                <div class="ui container">
                    <h3 class="item">Menu Principal</h3>
                </div>
                <div class="ui container firstmenu">
                    <!--<a id="itemsMD" class="item dalink menus" href="">Material Didático</a>-->
                    <!--<a id="items" class="item" title="curso" href="#curso">Notas</a>-->
                </div>
                <div class="ui container secondmenu">
                    <a id="itemsP" class="item dalink" href="@Url.Action("Index","StudentArea")">Disciplinas</a>
                    <a id="itemsS" class="item dalink" href="@Url.Action("Logout","Account", new { area = "" })">Sair</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui grid">
        <div class="sixteen wide column specialDP">
            @RenderBody()
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/Disciplinas.EAD.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
