@model IEnumerable<WebEAD.Areas.Extranet.Models.NoticeMetadado>

@{
    WebGrid grid = new WebGrid(Model, canPage: true, rowsPerPage: 6);
}


@grid.GetHtml(
    tableStyle: "ui celled inverted blue table foot",
    footerStyle: "footRow",
    headerStyle: "headRow",
    rowStyle: "bodyRow",
    alternatingRowStyle: "bodyRow",
    fillEmptyRows: false,
    mode: WebGridPagerModes.All,
    firstText: "Primeiro",
    previousText: "Anterior",
    nextText: "Próximo",
    lastText: "Último",
    columns: grid.Columns(
             grid.Column("av_id", header: "ID", format: @<a>@item.av_id</a>),
             grid.Column("av_titulo", header: "Titulo", format: @<p>@item.av_titulo</p>),
             grid.Column("av_datacadastro", header: "Data Cadastro", format: (item) => string.Format("{0:dd/MM/yyyy}", item.av_datacadastro)),
             grid.Column("dp_descricao", header: "Disciplina", format: @<p>@item.dp_descricao</p>),
             grid.Column("Opções", format: @<text>
            <a class="ui small blue icon button" href="@Url.Action("EditNotice","Notice", new { id = item.av_id })">
                <i class="edit icon"></i>
                Detalhes | Editar
            </a>
            </text>, style: "opcoes", canSort: false))
           )
